nav {
    display: flex;
    border: 1px solid black;
}

body {
    background-color: darkgreen;
}

.gameBox {
    display: flex;
    flex-direction: column;
}

.gameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
    max-width:max-content;
}

.drawActiveContainer {
    display: flex;
    flex-direction: row;
    padding-right: 10em;
}

.scorePileContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.pile {
    display: flex;
    position: relative;
    height: fit-content;
    padding: 1%;
}

.rePile {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.drawPile {
    padding-right: 3em;
}

img {
    max-width: 100%;
    max-height: 100%;
}