nav {
    display: flex;
    border: 1px solid black;
}

body {
    background-color: darkgreen;
}

.gameBox {
    display: flex;
    flex-direction: column;
}

.gameRow {
    display: flex;
    flex-direction: row;
    padding: 3%;
}

.pile {
    display: flex;
    position: relative;
    height: 200px;
    width: 200px;
    padding: 1%;
}

.rePile {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

img {
    max-width: 100%;
    max-height: 100%;
}